__pycache__
__pycache__/*
*/__pycache__/*
.DS_Store
.DS_Store/*
*/.DS_Store/*
test
test/*
*/test/*
results
results/*
*/results/*
results_final
results_final/*
*/results_final/*
results_final_old
results_final_old/*
*/results_final_old/*
.idea
.idea/*
*/.idea/*
import_models
import_models/*
*/import_models/*
tests/results/*
build
build/*
*/build/*
*.ppm

